@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');

html, body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FCFCFC;
    width: 100%;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
    color: #212529;
}

/* nav-bar */
.navbar {
    background-color: #FCFCFC !important;
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05);
}

button:focus {
    outline: none !important;
}

.navbar-nav .nav-item {
    display: flex;
    justify-content: center;
}

.navbar-nav .nav-item .nav-link {
    font-weight: 600;
    color: #505050;
    line-height: 1;
}

@media (min-width: 992px) {
    .navbar-nav .nav-item .nav-link {
        color: #000;
    }
}

.navbar-nav .nav-item .nav-link .nav-link-number {
    font-weight: 200;
    font-size: 0.75rem;
    text-align: right;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #FF3E81;
}

.navbar-nav .nav-item .nav-link p {
    margin: 0 0.8rem;
}

.learn-more-btn {
    background-color: #3A88EC;
    color: #FFFFFF !important;
    border-radius: 100px;
    font-weight: 600;
    padding: 12px 40px !important;
}

.learn-more-btn:hover {
    background-color: #FF3E81;
}

/* section header */
.wrapper .header {
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}

.header .header-img-section img {
    width: 100%;
}

.btn-invert {
    background-color: #FF3E81;   
}

.btn-invert:hover {
    background-color: #3A88EC;
}

.header .header-title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .header-title-section  .header-subtitle {
    font-size: 1.7rem;
    font-weight: 400;
    color: #212529;
}

.header .header-title-section  .header-title {
    font-size: 3.8rem;
    color: #303669;
    font-weight: 800;
    line-height: 1;
}

/* section strategy */
.strategy-section-container {
    position: relative;
}

.strategy-section .bg-graphics-section {
    position: absolute;
    width: 23%;
    top: -42%;
    right: -3%;
}

.strategy-section .bg-graphics-section img {
    width: 100%;
}

.strategy-section .stragegy-card-section .strategy-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stragegy-card-section .strategy-card .title-strategy {
    color: #303669;
    font-size: 18px;
    font-weight: 700;
}

.stragegy-card-section .strategy-card .sub-title-strategy {
    font-size: 1rem;
    color: #000;
    line-height: 1.5;
    max-width: 19rem;
    text-align: center;
}

/* section services */
.light-btn {
    transition: all 0.3s;
}

.light-btn::after {
    content: '\2212';
    float: right;
    font-size: 24px;
    font-weight: 800;
    margin-left: 8px;
}

.light-btn:hover {
    background-color: #78C2ff;
}

.light-btn.collapsed::after{
    content: "\002B";
}

.content-data-light-btn {
    color: #A5A5A5;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
}

.services-section-bg {
    position: absolute;
    width: 25%;
    left: -17%;
    top: -35%;
}