@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');

html, body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FCFCFC;
    width: 100%;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
    color: #212529;
}

/* nav-bar */
.navbar {
    background-color: #FCFCFC !important;
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05);
}

@media (min-width: 992px) {
    .navbar {
        box-shadow: none;
    }

    .navbar-header-scrolled {
        box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05);   
    }    
}

button:focus {
    outline: none !important;
}

.navbar-nav .nav-item {
    display: flex;
    justify-content: center;
}

.navbar-nav .nav-item .nav-link {
    font-weight: 600;
    color: #505050;
    line-height: 1;
}

@media (min-width: 992px) {
    .navbar-nav .nav-item .nav-link {
        color: #000;
    }
}

.navbar-nav .nav-item .nav-link .nav-link-number {
    font-weight: 200;
    font-size: 0.75rem;
    text-align: right;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #FF3E81;
}

.navbar-nav .nav-item .nav-link p {
    margin: 0 0.8rem;
}

.learn-more-btn {
    background-color: #3A88EC;
    color: #FFFFFF !important;
    border-radius: 100px;
    font-weight: 600;
    padding: 12px 40px !important;
}

.learn-more-btn:hover {
    background-color: #FF3E81;
}

/* section header */
.wrapper .header {
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}

.header .header-img-section img {
    width: 100%;
}

.btn-invert {
    background-color: #FF3E81;   
}

.btn-invert:hover {
    background-color: #3A88EC;
}

.header .header-title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .header-title-section  .header-subtitle {
    font-size: 1.7rem;
    font-weight: 400;
    color: #212529;
}

.header .header-title-section  .header-title {
    font-size: 3.8rem;
    color: #303669;
    font-weight: 800;
    line-height: 1;
}

/* section strategy */
.strategy-section-container {
    position: relative;
}

.strategy-section .bg-graphics-section {
    position: absolute;
    width: 23%;
    top: -42%;
    right: -3%;
}

.strategy-section .bg-graphics-section img {
    width: 100%;
}

.strategy-section .stragegy-card-section .strategy-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stragegy-card-section .strategy-card .title-strategy {
    color: #303669;
    font-size: 18px;
    font-weight: 700;
}

.stragegy-card-section .strategy-card .sub-title-strategy {
    font-size: 1rem;
    color: #000;
    line-height: 1.5;
    max-width: 19rem;
    text-align: center;
}

/* section services */
.light-btn {
    transition: all 0.3s;
}

.light-btn::after {
    content: '\2212';
    float: right;
    font-size: 24px;
    font-weight: 800;
    margin-left: 8px;
}

.light-btn:hover {
    background-color: #78C2ff;
}

.light-btn.collapsed::after{
    content: "\002B";
}

.content-data-light-btn {
    color: #A5A5A5;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
}

.services-section-bg {
    position: absolute;
    width: 25%;
    left: -17%;
    top: -35%;
}

/* section pricing */

.section-pricing {
    padding: 3.5rem 0;
    position: relative;
}

.pricing-top-bg {
    position: absolute;
    top: -14%;
    right: -9%;
    z-index: -1;
}

.pricing-bot-bg {
    position: absolute;
    bottom: -10%;
    left: -5%;
    z-index: -1;
}

.pricing-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pricing-title h2 {
    font-weight: 800;
    color: #303669;
    line-height: 1;
    font-size: 45px;
    margin-bottom: 20px;
}

.pricing-title p {
    font-size: 18px;
    line-height: 1.5;
    max-width: 450px;
}

@media (min-width: 992px) {
    .pricing-title p {
        min-width: 700px;
    }
}

.pricing-card {
    background-color: #FFFFFF;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 40px;
    max-width: 460px;
    margin: 0 auto;
}

.pricing-card:hover {
    box-shadow: 0 3px 47px rgba(0, 0, 0, 0.15);;
}

.pricing-card .pricing-rate {
    color: #303669;
    font-size: 60px;
    font-weight: 800;
    margin: 0;
    line-height: 1  ;
}

.pricing-card .pricing-period {
    color: #78C2FF;
    font-weight: 600;
    margin: 0;
}

.pricing-card .pricing-text {
    margin-top: 20px;
    font-weight: 500;
    color: #000;
    text-align: center;
}

.pricing-plan-card-section {
    padding-top: 2rem;
    align-items: center;
    justify-content: center;
}

.pricing-card .mid-rate::before {
    content: 'POPULAR';
    font-size: 12px;
    color: #FFF;
    background-color: #78C2FF;
    font-weight: 600;
    border-radius: 100px;
    padding: 10px 15px;
    display: block;
    width: 95px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.pring-card-section .mid-card {
    border: 7px dashed #78C2FF;;
}

.pricing-plan {
    width: 100%;
    margin: 20px 0;
}

.pricing-plan ul {
    list-style-type: none;
    padding-left: 20px;
}

.pricing-plan ul li {
    display: flex;
    font-size: 14px;
    font-weight: 300;
    line-height: 2;
    align-items: center;
}

.pricing-plan ul li .fa-check-circle {
    font-size: 20px;
    color: #3A88EC;
    margin-right: 8px;
}

.pricing-plan ul li .fa-circle {
    font-size: 20px;
    color: #EEEEEE;
    margin-right: 8px;
}

/* section clients */

.clients-title {
    text-align: center;
    margin-bottom: 20px;
}

.clients-title p {
    font-size: 22px;
    font-weight: 500;
    line-height: 2;
    margin: 0;
}

.clients-title h2 {
    font-weight: 800;
    color: #303669;
    font-size: 45px;
    line-height: 1;
}

.carousel-indicators li {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin: 0 8px;
    background-color: #CCCCCC;
}

.carousel-indicators li.active {
    background-color: #3A88EC;
}

.carousel-item img {
    display: block;
    margin: 0 auto;
}